body {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/treinos.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.treino-card {
    background: #000 !important;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(150, 18, 238, 0.3);
    transition: transform 0.3s;
}


.treino-card:hover {
    transform: scale(1.05);
}

.treino-card h3 {
    color: #A020F0;
}

.treino-card ul {
    list-style: none;
    padding-left: 0;
}

.treino-card ul li {
    margin-bottom: 0.5rem;
    color: #ccc;
}
